/* цвет акцента - #4D5AE5
белый цвет - #FFFFFF
цвет шрифта шапки и заголовков - #2E2F42
текст абзацев - #434455
лого в футере, цвет кнопок в портфолио, бэк цвет в секции тим, текст в портфолио на фоне - #F4F4FD
текст в футере - #E7E9FC
 */

:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}


.logo {
  color: var(--dark);
  font-family: Raleway, cursive;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none; 
}

/* nav */

span {
  color: var(--primary-brand);
  
}

.site-nav .link {
  color: var(--dark);
}

.site-nav .link:focus {
    color: var(--primary-brand);
}

.site-adress .link {
  color: var(--dark);
}

.list {
    list-style: none;
  }
  
/* hero */

.hero-title {
  color: var(--primary-white-color);
  background-color: var(--dark);
}

.hero .button-primary {
  color: var(--primary-white-color);
  background-color: var(--primary-brand);
  border: var(--primary-brand);
  cursor: pointer;
}

.button-primary:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-brand);
}

.button-primary:focus {
  color: var(--primary-white-color);
  background-color: #404bbf;
}

/* adventages */
.advantages .title {
  color: var(--dark);
}

/* our work */

.work .title {
  color: var(--dark);
}

/* team */
.team .title {
  color: var(--dark);
}

/* footer */

.footer {
  color: var(--primary-brand);
  background-color: var(--dark);
}

.footer .footer-link {
  color: var(--light);
}

/* portfolio */

/* button */

.button {
  color: var(--primary-brand);
  background-color: var(--light);
  border: var(--primary-brand);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-brand);
}

/* examples */

.examples {
  color: var(--text);
}
.examples .examples-title {
  color: var(--dark);
}
.examples .examples-text {
  color: var(--light);
  background-color: var(--primary-brand);
}
